button,
input[type="submit"] {
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  border: none;
  border-radius: var(--spacing-3);
  overflow: none;

  padding: var(--spacing-3);
  background-color: var(--maize);

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

button:hover,
input[type="submit"]:hover {
  transition: all 0.2s ease-in-out;
  background-color: var(--maize-dark);
}

input {
  background-color: var(--seasalt);
}
